<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @user.name %>,</p>
    <p>You have requested to join the research study for Math 1151's online component, MOOCulus.</p>
    <p>To confirm your participation, please click on <a href="<%= @url %>"><%= @url %></a>.</p>
    <p>Thank you again for your help!  Your participation will help us to understand the effectiveness of these online tools.</p>
    <p>thank you for your participation,<br/>~jim</p>
  </body>
</html>
