<div class="page-header">
  <h1>Contact us! <small>We are here to help you!</small></h1>
</div>

<div class="row-fluid">

  <div class="span12">
<p>A course is not the same as self-study: we're establishing a <strong>mathematical community</strong> with the <a href="https://class.coursera.org/calc1-001/forum/index">course forum</a>.</p>

<div style="float: right;">
<object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=36fe28ea55d1a178ee63bd76e9d37e843b8bf5df&style=0" /></object>
</div>

<h3>Mathematical questions?</h3>

<p>The fastest way to get a response is to <a href="https://class.coursera.org/calc1-001/forum/index">post a message on the course forum</a>; all of the <a href="/developers">teaching staff</a> spend time there and are ready to answer your questions quickly.</p>

<p>If you have a math question which you'd like to see addressed in a future lecture video, click on the &ldquo;Call Me&rdquo; widget on the right hand side; this connects you to the Calculus One voicemail helpline, where you can record your question after the beep.</p>

<p>The head instructor of this course is <a href="http://www.math.osu.edu/~fowler/">Jim Fowler</a>; if you have private comments and don't need an answer quickly, you can send email to him at <a href="mailto:fowler@math.osu.edu">fowler@math.osu.edu</a>.</p>

<h3>Technical problems?</h3>

<p>If you're having a technical problem with the course, please post in the <a href="https://class.coursera.org/calc1-001/forum/list?forum_id=9">Technical Feedback forum</a>.</p>

