      <div class="row">
        <div class="span1"></div>
        <div class="span6">
          <div class="hero-unit">
            <h1>the <%=raw html_logo %> textbook</h1>
	    <p>Reading a math textbook is not quite the same as reading a novel&mdash;math is even more fun!  To read mathematics, you need to bring a bit more than just the textbook to the table: you should also bring
<ul>
<li>a pen,</li>
<li>plenty of blank paper, and</li>
<li>courage to write everything down.</li>
</ul>
<p>As you read mathematics, you must work along side of the text
itself. You must <strong>write</strong> down each
expression, <strong>sketch</strong> each graph,
and <strong>think</strong>&mdash;always think!&mdash;about just what
you are doing. You should work examples and fill in the details.  Like
all great things, this is no easy task.</p>
<p>You can begin reading now by <a href="/textbook/mooculus.pdf">downloading the textbook</a>.</p>
          </div>
        </div>
        <div class="span5">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item"><a href="/textbook/mooculus.pdf"><img src="/images/textbook-1.png" class="img-rounded"/></a>
		<div class="carousel-caption"> 
                  <h4>Free and open</h4> 
                  <p>Unlike most calculus textbooks, this book won't cost you a thing.</p> 
                </div>
	      </div>
	      <div class="active item"><a href="/textbook/mooculus.pdf"><img src="/images/textbook-2.png" class="img-rounded"/></a>
		<div class="carousel-caption"> 
                  <h4>Week 10</h4> 
                  <p>Only the beginning of the book has been written, but this version includes new material for Week 9 on linear approximation.</p>
                </div>
	      </div>
	      <div class="item"><a href="/textbook/mooculus.pdf"><img src="/images/textbook-3.png" class="img-rounded"/></a>
		<div class="carousel-caption"> 
                  <h4>Extra material</h4> 
                  <p>The textbook goes into more details than the lectures, and includes more practice problems.</p>
                </div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>

	  <p>

	  </p>
	    <a href="/textbook/mooculus.pdf" class="btn btn-large btn-block btn-primary" type="button"><i class="icon-download-alt"></i> Download the Textbook</a>

	    <a href="/textbook/mooculus-print.pdf" class="btn btn-block btn-info" type="button"><i class="icon-print"></i> Get the printable version with a white background</a>

	</div>
      </div>
