<div class="page-header">
  <h1>Explore! <small>Play around with mathematics!</small></h1>
</div>

<p>A fun part of math is just messing around with various functions.  Here you can find some things you can play around with.</p>

<div class="row">
  <div class="span6">
    <h3><a href="/explorations/derivative">Differentiate!</a></h3>
    <p>Differentiate a function of your choosing.  See all the steps shown.</p>
  </div>
  
  <div class="span6">
    <h3><a href="/explorations/graph">Graph!</a></h3>
    <p>Plot a function of your choosing.  Use sliders to control other variables.</p>
  </div>
  
  <div class="span6">
    <h3><a href="/explorations/trigExplore">Explore Trig Functions!</a></h3>
    <p>Play with the relationships between the unit circle, the trig functions, and their graphs.</p>
  </div>

  <div class="span6">
    <h3><a href="/explorations/doppler">Hear doppler shift!</a></h3>
    <p>Move around a sound-emitting object and an observer to hear doppler shift.</p>
  </div>

  <div class="span6">
    <h3><a href="/explorations/trains">Move trains around!</a></h3>
    <p>Slide trains on their tracks, and watch how they move together.</p>
  </div>

  <div class="span6">
    <h3><a href="/explorations/fifths">Fifths!  Octaves!</a></h3>
    <p>Twelve fifths is almost seven octaves&mdash;and you can hear this fact.</p>
  </div>
</div>
