      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
        <div class="span6">
          <div class="hero-unit">
            <h1>Help with math?</h1>
            <p>Need help with a math course at Ohio State?  Looking for lecture videos?  Looking for practice exams?  This is the place.</p>
            <p><a class="btn btn-primary btn-large" href="<%= @root %>course/">Find your course &raquo;</a></p>
          </div>
        </div>
        <div class="span6">
        </div>
      </div>
