<div class="row-fluid">
  <div class="span8">
    <%= link_to exercise.title, exercise %>
  </div>
  <div class="span4">
    <% if user_signed_in? %>
      <%= @competencies.where(exercise_id: exercise.id).first || "Not attempted" %>
    <% end %>
  </div>
</div>
