<tr>
  <td>
    <%= link_to exercise.title, exercise %>
  </td>
  <% if user_signed_in? %>
    <td>
      <%= @competencies.where(exercise_id: exercise.id).first || "Not attempted" %>
    </td>
  <% end %>
</tr>
