<table class="table table-striped">
  <thead>
    <th>
      Problem
    </th> 
    <% if user_signed_in? %>
      <th>
        Progress
      </th>
    <% end %>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <%= render partial: "progress_exercise", locals: { exercise: exercise } %>
    <% end %>
  </tbody>
</table>
