<div class="row-fluid">
  <div class="span8">
    Problem
  </div>
  <% if user_signed_in? %>
    <div class="span4">
      Your Score
    </div>
  <% end %>
</div>

<% @exercises.each do |exercise| %>
  <%= render partial: "progress_exercise", locals: { exercise: exercise } %>
<% end %>
