<div class="page-header">
  <h1>Consent <small>for Participation in Research</small></h1>
  <h5><strong>Researchers:</strong> <span style="font-weight: normal">Robert Griffiths, Ph.D.; Thomas Evans, MA; Henry Griffy, MA; Jim Fowler, Ph.D.</span></h5>
</div>

<p>Thank you, <%= @user.name %>.</p>
<p>You have confirmed your participation in the research study.</p>
<p>Thank you for participating in the research study.</p>
<p>Your participation makes it possible for us to determine the effectiveness of these online tools.</p>
